<!doctype html>
<html>
<head>
  {{ content_for_header }}
</head>
<body>
  {% if settings.react_version_enable %}
    <div id="sidecart-with-react"></div>
  {% else %}
    {{content_for_layout}}
  {% endif %}

  <!-- js  -->
  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>